<div class="container mt-5">
  <div class="card mx-auto" style="max-width: 400px;">
    <div class="card-header d-flex flex-column align-items-center">
      <img ngSrc="assets/lichess-logo.png" alt="lichess-logo"
           width="200" height="200" class="mt-5">
      <h1 class="text-center mt-3 mb-5">Sign up using Lichess.org</h1>
    </div>
    <div class="card-body d-flex justify-content-center">
      <a class="btn btn-primary btn-lg w-75" href="/login">Sign up</a>
    </div>
  </div>
</div>
