<div class="modal-header">
  <h4 class="modal-title">{{ modalTitle }}</h4>
  <button class="btn-close" aria-label="close"
          (click)="activeModal.dismiss('x-btn clicked')">
  </button>
</div>
<div class="modal-body">
  <p>{{ modalBodyText }}</p>
</div>
<div class="modal-footer">
  <button class="btn {{ modalOkBtnStyle }}"
          (click)="handleSubmit()">
    {{ modalSubmitButtonText }}
  </button>
  <button class="btn btn-outline-dark"
          (click)="activeModal.close('Close btn clicked')">
    {{ modalCancelButtonText }}
  </button>
</div>
