@if (selectedList !== null) {
  <h2>{{ selectedList.name }}</h2>
  @for (player of selectedList.listedPlayers; track player.id) {
    <p>{{ player.id }}</p>
  }

  <div class="grid-container">
    <ktd-grid [cols]="cols"
              [rowHeight]="rowHeight"
              [layout]="layout"
              scrollSpeed="4">
      @for (item of layout; track $index) {
        <ktd-grid-item [id]="item.id"
                       class="border border-2 border-dark">
          <div class="grid-item-content">{{ item.id }}</div>
          <button class="btn bi-x m-3 p-0"
                  (mousedown)="stopEventPropagation($event)"
                  (click)="removeItem(item.id)">
          </button>
        </ktd-grid-item>
      }
    </ktd-grid>
  </div>

} @else {
  <p class="fs-3">No list selected, please select one from left side menu</p>
}
