@if (selectedList() !== null) {
  <h2>{{ selectedList()?.name }}</h2>
  <div class="">
    <ktd-grid [cols]="cols"
              [rowHeight]="rowHeight"
              [layout]="layout"
              (layoutUpdated)="updateLayoutHandle($event)"
              scrollSpeed="4"
              [gap]="gap">
      <ktd-grid-item id="0"
                     class="border border-2 border-dark p-3 rounded-3 border-opacity-25">
        <ng-template ktdGridItemPlaceholder></ng-template>
        <h4>Players</h4>
        <table class="table table-bordered table-responsive-lg">
          <tr>
            <th></th>
            <th>Name</th>
          </tr>
          @for (player of selectedList()?.listedPlayers; track $index) {
            <tr>
              <td>{{ $index + 1 }}.</td>
              <td>{{ player.id }}</td>
            </tr>
          }
        </table>
      </ktd-grid-item>

      <ktd-grid-item id="1"
                     class="border border-2 border-dark p-3 rounded-3 border-opacity-25">
        <ng-template ktdGridItemPlaceholder></ng-template>
        <app-line-graph></app-line-graph>
      </ktd-grid-item>
    </ktd-grid>
  </div>

} @else {
  <p class="fs-3">No list selected, please select one from left side menu</p>
}
